@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #0a0c1b;
    color: #f7f7f7;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    height: 60%;    
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #1c1937;
    border-radius: 7px;
}

#left-container {
    width: 50%;
    padding: 0 3rem;
}

#left-container h1 {
    margin-bottom: 25px;
}

#left-container span {
    color: #a257d2;
}

#left-container #description {
    font-size: 20px;
    margin-bottom: 60px;
}

#insights-container {
    display: flex;
    justify-content: space-around;
}

.insights h2 {
    font-size: 35px;
}

.insights p {
    text-transform: uppercase;
    color: #8a5fb5;
    font-weight: bold;
}

#right-container {
    width: 50%;
    height: 100%;
    position: relative;
    display: inline-block;
}

#right-container img {
    width: 100%;
    height: 100%;
    display: block;
}

/* EFEITO ROXO */

#right-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(85, 45, 106, 0.75);
}